$break-small: 480px;
$break-medium: 767px;

.fullPage {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: absolute;
}

.centerControls {
    height: 50%;
    margin: auto;
    padding-top: 8%;
    position: relative;
    width: 50%;
    @media screen and (max-width: $break-medium) {
        padding-top: 18%;
        width: 80%;
    }
    @media screen and (max-width: $break-small) {
        padding-top: 22%;
        width: 90%;
    }
}

.header {
    position: absolute;
    left: 25px;
    top: 25px;
}

.buttonBar {
    height: 50%;
    margin: auto;
    padding-top: 4%;
    position: relative;
    text-align: center;
    width: 50%;
    @media screen and (max-width: $break-medium) {
        width: 80%;
    }
    @media screen and (max-width: $break-small) {
        width: 90%;
    }
}
