$break-small: 480px;
$break-medium: 767px;

.fullPage {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: absolute;
}

.centerControls {
    margin: auto;
    padding-top: 8%;
    position: relative;
    height: 50%;
    width: 50%;
    @media screen and (max-width: $break-medium) {
        padding-top: 22%;
        width: 80%;
    }
    @media screen and (max-width: $break-small) {
        padding-top: 30%;
        width: 85%;
    }
}

.header {
    position: absolute;
    left: 25px;
    top: 25px;
}
