$break-small: 480px;
$break-medium: 767px;

.inputElement {
    border-bottom: 1px solid #fff;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}
.label {
    color: rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    top: 4rem;
}
.counter {
    color: rgba(255, 255, 255, 0.4);
}
.wrapper {
    margin: auto;
    position: relative;
    width: 70%;
    @media screen and (max-width: $break-medium) {
        width: 100%;
    }
}
.rgbWrapper,
.hexWrapper {
    position: relative;
}
.inputPrefix {
    color: rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    left: 0;
    opacity: 0;
    position: absolute;
    margin-top: 3.6rem;
    transition: opacity 0.7s;
}
.inputSuffix {
    color: rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 3.6rem;
    transition: opacity 0.7s;
}