$baseColour: #404040;
$break-small: 480px;

.sliderLabel {
    color: rgba(64, 64, 64, 0.4);
}
.input {
    input {
        border-bottom: 1px solid $baseColour;
        color: $baseColour;
    }
}
.wrapper {
    padding-top: 1rem;
    @media screen and (max-width: $break-small) {
        padding-top: 2rem;
    }
}

.innerprogress {
    background: $baseColour;
}
